Repository manju2791/ngrx-basics: changes, and which Jenkins stages are due for each by the changed paths.
All: Install dependencies, Build project

Install dependencies:
        steps {
          echo 'install dependencies..'
          sh 'npm install'
        }
      

Build project:
          steps {
            echo 'build project'
            sh 'npm run build:all'
          }
      

Update package.json
  package.json
Due: Install dependencies, Build project

Update app.component.html
  apps/moonshot/src/app/app.component.html
Due: Build project

Create Dockerfile
  apps/moonshot/Dockerfile
Due: Build project

Create Dockerfile
  apps/api/Dockerfile
Due: Build project

Create docker-compose.yml
  docker-compose.yml
Due: none

Update Jenkinsfile
  Jenkinsfile
Due: none

Path conditions:
  Install dependencies: any of: package.json
  Build project: ((any of: apps/**) or (any of: libs/**)) or (any of: package.json)
